Docs issues

https://github.com/libdns/desec/blob/7f39ae01f41fcfbb3c4de199891add29403c5d75/provider.go#L6-L7

How do you mean, it's not possible to update records atomically? (You can submit a bulk update request, which is executed atomically: https://desec.readthedocs.io/en/latest/dns/rrsets.html#bulk-operations)

Also: https://github.com/libdns/desec/blob/7f39ae01f41fcfbb3c4de199891add29403c5d75/provider.go#L18-L22

The deSEC API only accepts one TTL value per RRset, so it's not possible to specify multiple. OTOH, when this library is provided with several values, you could make a deterministic pick (such as "use first", "use lowest") or throw an error.

Disclaimer: I'm a deSEC maintainer.

> How do you mean, it's not possible to update records atomically? 

libdns operates on a per record basis instead on a per record set basis. This "impedence missmatch" means that it's not safe to update single records atomically. For example, with libdns it's possible to append a single record, say `www.example.com. 3600 IN A 127.0.0.1`. Mapping this to record sets requries to first read the record set for `www.example.com. A`, appending the `127.0.0.1` value to the list of records (in deSEC parlance), and then using the deSEC API to write the results. This is no longer atomic (I think this is the right term): If the same record set is modified concurrently by another process, one of the modifications might be lost.

What I would like to have implemented is to peform modifications transactionally, but I dont' think that's supported by the deSEC API.

Does this make sense, or am I missing something? Do you have an idea on how to improve the documentation?

> (You can submit a bulk update request, which is executed atomically: https://desec.readthedocs.io/en/latest/dns/rrsets.html#bulk-operations)

I am using bulk requests (almost) exclusively. :)

> The deSEC API only accepts one TTL value per RRset, so it's not possible to specify multiple. OTOH, when this library is provided with several values, you could make a deterministic pick (such as "use first", "use lowest") or throw an error.

The library is making a deterministic pick, but I decided to not document which one so it's easier to change it later. The problem is that I don't know what a reasonable pick would be. I am waiting for someone like you to file a feature request. :)

> libdns operates on a per record basis instead on a per record set basis. This "impedence missmatch" means that it's not safe to update single records atomically. For example, with libdns it's possible to append a single record, say `www.example.com. 3600 IN A 127.0.0.1`.

What happens (with other DNS operators) when the existing RRset has records with a different TTL?

It is an ill-defined request to specify a TTL for adding to an existing RRset. (According to [RFC 2181 Section 5.2](https://datatracker.ietf.org/doc/html/rfc2181#section-5.2), all records in an RRset have the same TTL.)

> Mapping this to record sets requries to first read the record set for `www.example.com. A`, appending the `127.0.0.1` value to the list of records (in deSEC parlance), and then using the deSEC API to write the results. This is no longer atomic (I think this is the right term): If the same record set is modified concurrently by another process, one of the modifications might be lost.
> 
> What I would like to have implemented is to peform modifications transactionally, but I dont' think that's supported by the deSEC API.

That is correct. Unfortunately, we haven't had time to add this feature, but we're tracking it here: https://github.com/desec-io/desec-stack/issues/540 As usual, PRs welcome ;-)

> Does this make sense, or am I missing something? Do you have an idea on how to improve the documentation?

No, your understanding is correct. I was only confused by "The main issue with that is that it's not possible to update records atomically." which sounds like deSEC doesn't support atomic updates. It does -- the issue is only "that libdns works on the record level while our API works on the RRset level" (for precisely the enforce-same-TTL reason). One option would be replace the sentence as quoted.

> > (You can submit a bulk update request, which is executed atomically: https://desec.readthedocs.io/en/latest/dns/rrsets.html#bulk-operations)
> 
> I am using bulk requests (almost) exclusively. :)

Great! :-)

> > The deSEC API only accepts one TTL value per RRset, so it's not possible to specify multiple. OTOH, when this library is provided with several values, you could make a deterministic pick (such as "use first", "use lowest") or throw an error.
> 
> The library is making a deterministic pick, but I decided to not document which one so it's easier to change it later. The problem is that I don't know what a reasonable pick would be. I am waiting for someone like you to file a feature request. :)

I see. Well, that's entirely reasonable. -- Perhaps it would make sense to apply the same treatment as for other libdns provider adapters. I don't know what libdns' behavior is there, but it's certainly something that is should deal with structurally (see the RFC reference above).

> What happens (with other DNS operators) when the existing RRset has records with a different TTL?
>
> It is an ill-defined request to specify a TTL for adding to an existing RRset. (According to [RFC 2181 Section 5.2](https://datatracker.ietf.org/doc/html/rfc2181#section-5.2), all records in an RRset have the same TTL.)

Good question, I don't know. @mholt, do you know?

> No, your understanding is correct. I was only confused by "The main issue with that is that it's not possible to update records atomically." which sounds like deSEC doesn't support atomic updates. It does -- the issue is only "that libdns works on the record level while our API works on the RRset level" (for precisely the enforce-same-TTL reason). One option would be replace the sentence as quoted.

Thanks, will update the documentation.

> I see. Well, that's entirely reasonable. -- Perhaps it would make sense to apply the same treatment as for other libdns provider adapters. I don't know what libdns' behavior is there, but it's certainly something that is should deal with structurally (see the RFC reference above).

That sounds very reasonable. @mholt, what do you think? Is this something to document on the libdns level?

I am closing this now, due to age.